passthrough="false"
osgi.jaxrs.name="Default"
mapping=["GET,HEAD,OPTIONS\=everything.read,global.everything.read","PUT,POST,PATCH,DELETE\=everything,everything.write,global.everything.write,global.everything","everything.write\=everything.write,everything,global.everything.write,global.everything","everything.read\=everything.read,global.everything.read"]